//Day-1
body {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}

.counter {
  text-align: center;
}

//Day-2

.completed {
  text-decoration: line-through;
}

.todo-container {
  input {
    height: 5rem;
    width: 40rem;
    font-size: 4.5rem;
  }
}
.item-container {
  display: flex;
  gap: 2rem;
  font-size: 5rem;
}
