//Day-1

.hover:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.animation-rotate {
  animation: App-logo-spin infinite 20s linear;
  transform-origin: center center;
}

.translateY-1 {
  display: inline-block;
  transform: translateY(1.5rem);
}
